.CartBtn {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 1;
}

.BooksCart {
  background-color: rgb(18, 18, 18);
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
}

.BooksCart::-webkit-scrollbar {
  width: 0px;
}

.BooksCart h2 {
  padding-top: 60px;
  text-align: center;
  width: 100%;
}

.BooksCartSection {
  margin: 0 auto;
  width: 200px;
}

.BooksCartSection:hover {
  cursor: pointer;
}

.BooksCartArticle {
  align-items: center;
  border-top: 1px solid #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0;
  transition: all 0.2s ease;
}

.BooksCartArticle:hover {
  opacity: 0.7;
}

.BooksCartArticle img {
  object-fit: cover;
  width: 100%;
}

.BooksCartTitle {
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  text-wrap: balance;
}

@media (prefers-color-scheme: light) {
  .BooksCart {
    background-color: #ddd;
  }

  .BooksCartArticle {
    border-top: 1px solid #aaa;
  }
}