.images {
  display: flex;
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
}

.mainPictureFigure {
  display: flex;
  height: 500px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.mainImage {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16;
  object-fit: contain;
}

.imagesContained {
  width: 200px;
  flex: 1;
  text-align: center;
}

.imagesContained picture {
  display: block;
  width: auto;
}

.imagesContained img {
  object-fit: contain;
}

.information {
  width: 80vw;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 28px;
}

.details {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  gap: 25px;
}

.priceAndStock {
  text-align: center;
}

.price {
  font-size: 22px;
}

.stock {
  font-size: 12px;
}

.price,
.stock {
  font-weight: bold;
}

.description {
  text-wrap: balance;
  margin-top: 35px;
}

.btn {
  bottom: 35px;
  font-size: 30px;
  left: calc(50% - 100px);
  position: absolute;
  width: 200px;
}

@media screen and (width <=465px) {
  .btn {
    left: calc(50% - 40vw);
    width: 80vw;
    font-size: 35px;
  }
}